<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <img src="http://localhost:8888/video_feed" width="100%">
        </div>
    </div>
</div>
</body>
